{% extends 'base.html.twig' %}
{% block body %}
    {% if volumes is defined and volumes is not empty %}
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Auteur(s)</th>
                        <th scope="col">Editeur</th>
                        <th scope="col">Nombre de pages</th>
                        <th scope="col">Note moyenne</th>
                        <th scope="col">Nombre de notes</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for volume in volumes %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ volume.volumeInfo.title }}</td>
                                <td>
                                    {% if volume.volumeInfo.authors is defined and volume.volumeInfo.authors is not empty %}
                                        {% for author in volume.volumeInfo.authors %}
                                            {{ author }} {{ loop.last ? '' : ',' }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if volume.volumeInfo.publisher is defined and volume.volumeInfo.publisher is not empty %}
                                        {{ volume.volumeInfo.publisher }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if volume.volumeInfo.pageCount is defined and volume.volumeInfo.pageCount is not empty %}
                                        {{ volume.volumeInfo.pageCount }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if volume.volumeInfo.averageRating is defined and volume.volumeInfo.averageRating is not empty %}
                                        {{ volume.volumeInfo.averageRating }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if volume.volumeInfo.ratingsCount is defined and volume.volumeInfo.ratingsCount is not empty %}
                                        {{ volume.volumeInfo.ratingsCount }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}